data/metatranscriptomics/
databases/
EPS_synthesis_in_AS_bacteria-main/
figures/
interproscan_results/
isolates/
output_proximity_filtration/
psiblast_results/
temp/
tree_results/
data/raw/bins
data/raw/
tree_results/
*.tsv
*.csv
*.rds
data/raw/*.xlsx
!data/raw/Query_figur.xlsx
.RData
.Rhistory
.Rproj.user
